html *
{
   font-size: 12px;
   color: #000;
   font-family: arial,helvetica,sans-serif;
}

body {
    /*font-size: 62.5%;*/
    min-width: 700px;
}

table.listing tr.game-ready {
    background-color: #f7ffc0;
}

/* table styles */

table.listing {
width: 100%;
text-align: left;
border-collapse: collapse;
}
table.listing td, table.listing th {
padding: 2px 2px;
vertical-align:middle;
}
table.listing th {
background-color: #bcb;
border-top: 1px solid #454;
border-bottom: 1px solid #454;
}
table.listing tr.even td {
/*background-color: #ddd;*/
border-bottom: 1px solid #454;
}
table.listing tr.odd td {
/*background-color: #eee;*/
border-bottom: 1px solid #454;
}
table.listing tr.even2 td {
/*background-color: #ddd;*/
}
table.listing tr.odd2 td {
/*background-color: #eee;*/
}
table.listing tr.even3 td {
/*background-color: #ddd;*/
border-top: 1px dotted #565;
}
table.listing tr.odd3 td {
/*background-color: #eee;*/
border-top: 1px dotted #565;
}
.fixed-left-short {
width: 6em;
float: left;
}
.fixed-left-long {
width: 8em;
float: left;
}
.fixed-width {
width: 8em;
display: inline-block;
}
span.gameno {
display: block;
font-size: 160%;
font-weight: bold;
margin-top: 7px;
margin-bottom: 5px;
}
a.gameno {
display: block;
font-size: 120%;
margin-top: 2px;
}

ul.players {
    color: #ccc;
    margin: 0;
    padding: 0;
}

ul.players li {
    margin-top: 3px;
    margin-bottom: 3px;
    vertical-align: text-bottom;
    list-style-type: none;
    white-space: nowrap;
}

ul.players li.status_red {
    padding-left: 18px; /* 28 - 10px rank width = 18px padding */
    background: url(http://static.conquerclub.com/icon_status_red.gif) left no-repeat !important;
}
ul.players li.status_yellow {
    padding-left: 18px;
    background: url('http://static.conquerclub.com/icon_status_yellow.gif') left no-repeat;
}
ul.players li.status_green {
    padding-left: 18px;
    background: url('http://static.conquerclub.com/icon_status_green.gif') left no-repeat;
}
li.current-user a {
    font-weight: bold;
}
ul.players li.status_blocked {
    padding-left: 18px;
    background: url('http://static.conquerclub.com/icon_status_blocked.gif') left no-repeat;
}

.rank.p {
    background: url('http://static.conquerclub.com/ranks_p2.png') no-repeat;
}

.rank.f {
    background: url('http://static.conquerclub.com/ranks_f2.png') no-repeat;
}
