<table class="listing">
<tr>
    <th>&nbsp;</th>
    <th>Game Type<br>Initial Troops<br>Play Order</th>
    <th>Map</th>
    <th>Spoils<br>Reinforcements<br>Special Gameplay</th>
    <th>Round Limit<br>Round Length<br>Round - Time Remaining</th>
    <th>Players</th>
</tr>
{{#each games}}
    <tr class="odd {{game_style}}">
    <td align="center" style="vertical-align:top;">
        <span class="gameno">{{game_number}}</span>
        <a class="gameno" href="http://www.conquerclub.com/game.php?game={{game_number}}">Enter Game</a>
    </td>
    <td style="vertical-align:top;">
        {{game_type}}<!-- (S)tandard, (C)Terminator, (A)ssassin, (D)oubles, (T)riples or (Q)uadruples -->
        <br>
        {{initial_troops}}<!-- (E)Automatic or (M)anual -->
        <br>
        {{play_order}}<!-- (S)equential or (F)reestyle -->
    </td>
    <td style="vertical-align:top;">
        {{map}}<br>
        <!-- todo - if a config is enabled then do another request to get the game map thumbnail image -->
        <!--a href="http://maps.conquerclub.com/Fractured_China6.L.jpg" rel="lightbox" title="Fractured China,133184">
            <img style="background-image:url(http://maps.conquerclub.com/Fractured_China.thumb.png)" src="http://static.conquerclub.com/map_normal.png" width="50" height="34" class="thumbnail" alt="Fractured China" title="Fractured China">
        </a-->
    </td>
    <td style="vertical-align:top;">
        {{bonus_cards}}<!-- (1)No Spoils, (2)Escalating, (3)Flat Rate or (4)Nuclear -->
        <br>
        {{fortifications}}<!-- (C)hained, (O)Adjacent or (M)Unlimited -->
        <br>
        {{war_fog}} {{trench_warfare}}
    </td>
    <td style="vertical-align:top;">
        {{round_limit}}<!-- 0 (unlimited), 20, 50 or 100 -->
        <br>
        {{speed_game}}<!-- round length - (N)o, 5, 4, 3, 2 or 1. If N then display '24 Hours'. --><br>
        Round {{round}} - {{time_remaining}}             <br>
        <!--span class="additionalClock">Today @ <b>XX:XX pm</b></span-->
        <!-- additionalClock bit above not implemented in the api - might also be user specific for the time zone so may remove this -->
    </td>
    <td style="vertical-align:top;">
        <ul class="players">
            <!--
                LI TAG
                    if player is 'READY' then use class=status_green.
                    if player is 'WAITING' then use class=status_red.
                    if player is 'PLAYING' then use class=status_yellow.
                    don't know what the other states are yet
                RANK
                    format is:
                        class="rank <type> r<rank_number>"
                    where <type>. is (p=paid, f=free)
                    and rank_number is (0 to 15+?)
                    example:
                        a paid user with a rank of Lieutenant is:
                            class="rank p r9"
            -->
            {{#each players}}
                <li class="{{user_status}}">
                    <a class="rank {{account_type}} r{{rank_number}}" title="{{rank_text}} {{username}}'s Profile" href="http://www.conquerclub.com/forum/memberlist.php?mode=viewprofile&amp;un={{username}}">{{username}}</a>
                    <a class="rating" title="{{rank_text}} {{username}}'s Ratings" href="http://www.conquerclub.com/player.php?mode=ratings1&amp;username={{username}}">{{user_rating}}</a>
                    <span>{{user_status_text}}</span>
                </li>
            {{/each}}
        </ul>
    </td>
</tr>
{{/each}}
</table>